@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "bwvariables";


   $carousel-control-color:$primary;

@import "~bootstrap/scss/bootstrap";
@import "bootswatch";
@import "~venobox/dist/venobox.min.css";



.detail-photo{
        height:400px;
        width:400px;
        object-fit:contain;
}
.feature-photo{
    height:150px;
    width:150px;
    object-fit:contain;
}